extends base
block contenido
  h1 Página de contacto
  p.
    #{direccion}
    
  #[a(href="/", class="waves-effect waves-light red darken-4 btn") #[i(class="material-icons right") home] Página principal]
