extends base
block contenido
  h1 Página de inicio
  a(href="/contacto", class="waves-effect waves-light btn") #[i(class="material-icons right") contact_phone] Contacta con nosotros 
  
  h2 Usando = 
  - for (var i = 0; i < 10; i++){
      = i
  - }
  
  h2 Usando p= 
  - for (var i = 0; i < 10; i++){
      p= i
  - }
  
  h2 Usando &num;
  - for (var i = 0; i < 10; i++){
      span #{i} 
  - }
  p.
    Lorem fistrum tiene musho peligro por la gloria de mi madre diodenoo. 
    Va usté muy cargadoo diodenoo hasta luego Lucas torpedo está la cosa muy malar 
    ese que llega. A wan no puedor no puedor no te digo trigo por no llamarte 
    Rodrigor. Jarl caballo blanco caballo negroorl benemeritaar ahorarr jarl 
    ese que llega. Va usté muy cargadoo a peich está la cosa muy malar no puedor
    al ataquerl te va a hasé pupitaa.
   
  p.
    Lorem fistrum tiene musho peligro por la gloria de mi madre diodenoo. 
    Va usté muy cargadoo diodenoo hasta luego Lucas torpedo está la cosa muy malar 
    ese que llega. A wan no puedor no puedor no te digo trigo por no llamarte 
    Rodrigor. Jarl caballo blanco caballo negroorl benemeritaar ahorarr jarl 
    ese que llega. Va usté muy cargadoo a peich está la cosa muy malar no puedor
    al ataquerl te va a hasé pupitaa. 
