extends base
block contenido
  div(class="container")
    div(class="row")
      div(class="col s0 m3 l3")
      div(class="col s12 m6 l6")
        div(class="card blue darken-1")
          div(class="card-content white-text")
              span(class="card-title") Datos de usuario
              p Usuario: #{usuario}
              p Contraseña: #{contrasena}
        div(class="col s0 m3 l3")